<table border="1" cellspacing="0" cellpadding="0" style="border-collapse:collapse;
 border:none;mso-border-alt:solid windowtext .5pt;mso-padding-alt:0cm 3.5pt 0cm 3.5pt">
 <tbody><tr>
  <td width="28" valign="top" style="width:21.0pt;border:none;padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black">VII<o:p></o:p></span></b></p>
  </td>
  <td width="97" valign="top" style="width:72.5pt;border:none;padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black">MATURITÀ<o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.55pt;border:solid windowtext .5pt;
  border-left:none;padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><!--[if !supportEmptyParas]-->&nbsp;<!--[endif]--><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black"><o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.4pt;border:solid windowtext .5pt;
  border-left:none;mso-border-left-alt:solid windowtext .5pt;padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><!--[if !supportEmptyParas]-->&nbsp;<!--[endif]--><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black"><o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.4pt;border:solid windowtext .5pt;
  border-left:none;mso-border-left-alt:solid windowtext .5pt;padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><!--[if !supportEmptyParas]-->&nbsp;<!--[endif]--><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black"><o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.4pt;border:solid windowtext .5pt;
  border-left:none;mso-border-left-alt:solid windowtext .5pt;padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><!--[if !supportEmptyParas]-->&nbsp;<!--[endif]--><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black"><o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.4pt;border:solid windowtext .5pt;
  border-left:none;mso-border-left-alt:solid windowtext .5pt;padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><!--[if !supportEmptyParas]-->&nbsp;<!--[endif]--><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black"><o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.4pt;border:solid windowtext .5pt;
  border-left:none;mso-border-left-alt:solid windowtext .5pt;padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><!--[if !supportEmptyParas]-->&nbsp;<!--[endif]--><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black"><o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.4pt;border:solid windowtext .5pt;
  border-left:none;mso-border-left-alt:solid windowtext .5pt;padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><!--[if !supportEmptyParas]-->&nbsp;<!--[endif]--><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black"><o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.45pt;border:solid windowtext .5pt;
  border-left:none;mso-border-left-alt:solid windowtext .5pt;padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black">integrità
  dell’io e disperazione<o:p></o:p></span></b></p>
  </td>
 </tr>
 <tr>
  <td width="28" valign="top" style="width:21.0pt;border:none;padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black">VII<o:p></o:p></span></b></p>
  </td>
  <td width="97" valign="top" style="width:72.5pt;border:none;padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black">ETÀ
  ADULTA<o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.55pt;border-top:none;border-left:
  none;border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><!--[if !supportEmptyParas]-->&nbsp;<!--[endif]--><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black"><o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.4pt;border-top:none;border-left:none;
  border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><!--[if !supportEmptyParas]-->&nbsp;<!--[endif]--><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black"><o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.4pt;border-top:none;border-left:none;
  border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><!--[if !supportEmptyParas]-->&nbsp;<!--[endif]--><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black"><o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.4pt;border-top:none;border-left:none;
  border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><!--[if !supportEmptyParas]-->&nbsp;<!--[endif]--><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black"><o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.4pt;border-top:none;border-left:none;
  border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><!--[if !supportEmptyParas]-->&nbsp;<!--[endif]--><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black"><o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.4pt;border-top:none;border-left:none;
  border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><!--[if !supportEmptyParas]-->&nbsp;<!--[endif]--><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black"><o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.4pt;border-top:none;border-left:none;
  border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black">generatività
  <o:p></o:p></span></b></p>
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black">e
  stagnazione<o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.45pt;border-top:none;border-left:
  none;border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><!--[if !supportEmptyParas]-->&nbsp;<!--[endif]--><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black"><o:p></o:p></span></b></p>
  </td>
 </tr>
 <tr>
  <td width="28" valign="top" style="width:21.0pt;border:none;padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black">VI<o:p></o:p></span></b></p>
  </td>
  <td width="97" valign="top" style="width:72.5pt;border:none;padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black">GIOVENTÙ<o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.55pt;border-top:none;border-left:
  none;border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><!--[if !supportEmptyParas]-->&nbsp;<!--[endif]--><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black"><o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.4pt;border-top:none;border-left:none;
  border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><!--[if !supportEmptyParas]-->&nbsp;<!--[endif]--><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black"><o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.4pt;border-top:none;border-left:none;
  border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><!--[if !supportEmptyParas]-->&nbsp;<!--[endif]--><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black"><o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.4pt;border-top:none;border-left:none;
  border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><!--[if !supportEmptyParas]-->&nbsp;<!--[endif]--><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black"><o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.4pt;border-top:none;border-left:none;
  border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><!--[if !supportEmptyParas]-->&nbsp;<!--[endif]--><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black"><o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.4pt;border-top:none;border-left:none;
  border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black">intimità
  <o:p></o:p></span></b></p>
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black">ed
  isolamento<o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.4pt;border-top:none;border-left:none;
  border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><!--[if !supportEmptyParas]-->&nbsp;<!--[endif]--><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black"><o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.45pt;border-top:none;border-left:
  none;border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><!--[if !supportEmptyParas]-->&nbsp;<!--[endif]--><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black"><o:p></o:p></span></b></p>
  </td>
 </tr>
 <tr>
  <td width="28" valign="top" style="width:21.0pt;border:none;padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black">V<o:p></o:p></span></b></p>
  </td>
  <td width="97" valign="top" style="width:72.5pt;border:none;padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black">POVERTÀ
  E ADOLESCENZA<o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.55pt;border-top:none;border-left:
  none;border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><!--[if !supportEmptyParas]-->&nbsp;<!--[endif]--><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black"><o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.4pt;border-top:none;border-left:none;
  border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><!--[if !supportEmptyParas]-->&nbsp;<!--[endif]--><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black"><o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.4pt;border-top:none;border-left:none;
  border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><!--[if !supportEmptyParas]-->&nbsp;<!--[endif]--><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black"><o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.4pt;border-top:none;border-left:none;
  border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><!--[if !supportEmptyParas]-->&nbsp;<!--[endif]--><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black"><o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.4pt;border-top:none;border-left:none;
  border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black">identità
  <o:p></o:p></span></b></p>
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black">e <o:p></o:p></span></b></p>
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black">dispersione<o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.4pt;border-top:none;border-left:none;
  border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><!--[if !supportEmptyParas]-->&nbsp;<!--[endif]--><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black"><o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.4pt;border-top:none;border-left:none;
  border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><!--[if !supportEmptyParas]-->&nbsp;<!--[endif]--><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black"><o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.45pt;border-top:none;border-left:
  none;border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><!--[if !supportEmptyParas]-->&nbsp;<!--[endif]--><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black"><o:p></o:p></span></b></p>
  </td>
 </tr>
 <tr>
  <td width="28" valign="top" style="width:21.0pt;border:none;padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black">IV<o:p></o:p></span></b></p>
  </td>
  <td width="97" valign="top" style="width:72.5pt;border:none;padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black">LATENZA<o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.55pt;border-top:none;border-left:
  none;border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><!--[if !supportEmptyParas]-->&nbsp;<!--[endif]--><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black"><o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.4pt;border-top:none;border-left:none;
  border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><!--[if !supportEmptyParas]-->&nbsp;<!--[endif]--><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black"><o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.4pt;border-top:none;border-left:none;
  border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><!--[if !supportEmptyParas]-->&nbsp;<!--[endif]--><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black"><o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.4pt;border-top:none;border-left:none;
  border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black">industriosità
  e senso di inferiorità<o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.4pt;border-top:none;border-left:none;
  border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><!--[if !supportEmptyParas]-->&nbsp;<!--[endif]--><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black"><o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.4pt;border-top:none;border-left:none;
  border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><!--[if !supportEmptyParas]-->&nbsp;<!--[endif]--><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black"><o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.4pt;border-top:none;border-left:none;
  border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><!--[if !supportEmptyParas]-->&nbsp;<!--[endif]--><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black"><o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.45pt;border-top:none;border-left:
  none;border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><!--[if !supportEmptyParas]-->&nbsp;<!--[endif]--><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black"><o:p></o:p></span></b></p>
  </td>
 </tr>
 <tr>
  <td width="28" valign="top" style="width:21.0pt;border:none;padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black">III<o:p></o:p></span></b></p>
  </td>
  <td width="97" valign="top" style="width:72.5pt;border:none;padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black">LOCOMOTORIO-
  GENITALE<o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.55pt;border-top:none;border-left:
  none;border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><!--[if !supportEmptyParas]-->&nbsp;<!--[endif]--><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black"><o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.4pt;border-top:none;border-left:none;
  border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><!--[if !supportEmptyParas]-->&nbsp;<!--[endif]--><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black"><o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.4pt;border-top:none;border-left:none;
  border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black">spirito
  di iniziativa e senso colpa<o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.4pt;border-top:none;border-left:none;
  border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><!--[if !supportEmptyParas]-->&nbsp;<!--[endif]--><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black"><o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.4pt;border-top:none;border-left:none;
  border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><!--[if !supportEmptyParas]-->&nbsp;<!--[endif]--><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black"><o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.4pt;border-top:none;border-left:none;
  border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><!--[if !supportEmptyParas]-->&nbsp;<!--[endif]--><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black"><o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.4pt;border-top:none;border-left:none;
  border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><!--[if !supportEmptyParas]-->&nbsp;<!--[endif]--><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black"><o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.45pt;border-top:none;border-left:
  none;border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><!--[if !supportEmptyParas]-->&nbsp;<!--[endif]--><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black"><o:p></o:p></span></b></p>
  </td>
 </tr>
 <tr>
  <td width="28" valign="top" style="width:21.0pt;border:none;padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black">II<o:p></o:p></span></b></p>
  </td>
  <td width="97" valign="top" style="width:72.5pt;border:none;padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black">MUSCOLARE
  - ANALE<o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.55pt;border-top:none;border-left:
  none;border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><!--[if !supportEmptyParas]-->&nbsp;<!--[endif]--><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black"><o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.4pt;border-top:none;border-left:none;
  border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black">vergogna
  dubbio e autonomia<o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.4pt;border-top:none;border-left:none;
  border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><!--[if !supportEmptyParas]-->&nbsp;<!--[endif]--><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black"><o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.4pt;border-top:none;border-left:none;
  border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><!--[if !supportEmptyParas]-->&nbsp;<!--[endif]--><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black"><o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.4pt;border-top:none;border-left:none;
  border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><!--[if !supportEmptyParas]-->&nbsp;<!--[endif]--><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black"><o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.4pt;border-top:none;border-left:none;
  border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><!--[if !supportEmptyParas]-->&nbsp;<!--[endif]--><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black"><o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.4pt;border-top:none;border-left:none;
  border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><!--[if !supportEmptyParas]-->&nbsp;<!--[endif]--><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black"><o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.45pt;border-top:none;border-left:
  none;border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><!--[if !supportEmptyParas]-->&nbsp;<!--[endif]--><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black"><o:p></o:p></span></b></p>
  </td>
 </tr>
 <tr>
  <td width="28" valign="top" style="width:21.0pt;border:none;padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black">I<o:p></o:p></span></b></p>
  </td>
  <td width="97" valign="top" style="width:72.5pt;border:none;padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black">ORALE
  - SENSORIO<o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.55pt;border-top:none;border-left:
  none;border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black">fiducia
  fondamentale e sfiducia<o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.4pt;border-top:none;border-left:none;
  border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><!--[if !supportEmptyParas]-->&nbsp;<!--[endif]--><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black"><o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.4pt;border-top:none;border-left:none;
  border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><!--[if !supportEmptyParas]-->&nbsp;<!--[endif]--><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black"><o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.4pt;border-top:none;border-left:none;
  border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><!--[if !supportEmptyParas]-->&nbsp;<!--[endif]--><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black"><o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.4pt;border-top:none;border-left:none;
  border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><!--[if !supportEmptyParas]-->&nbsp;<!--[endif]--><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black"><o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.4pt;border-top:none;border-left:none;
  border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><!--[if !supportEmptyParas]-->&nbsp;<!--[endif]--><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black"><o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.4pt;border-top:none;border-left:none;
  border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><!--[if !supportEmptyParas]-->&nbsp;<!--[endif]--><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black"><o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.45pt;border-top:none;border-left:
  none;border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><!--[if !supportEmptyParas]-->&nbsp;<!--[endif]--><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black"><o:p></o:p></span></b></p>
  </td>
 </tr>
 <tr>
  <td width="28" valign="top" style="width:21.0pt;border:none;padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><!--[if !supportEmptyParas]-->&nbsp;<!--[endif]--><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black"><o:p></o:p></span></b></p>
  </td>
  <td width="97" valign="top" style="width:72.5pt;border:none;padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><!--[if !supportEmptyParas]-->&nbsp;<!--[endif]--><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black"><o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.55pt;border-top:none;border-left:
  none;border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black">1<o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.4pt;border-top:none;border-left:none;
  border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black">2<o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.4pt;border-top:none;border-left:none;
  border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black">3<o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.4pt;border-top:none;border-left:none;
  border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black">4<o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.4pt;border-top:none;border-left:none;
  border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black">5<o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.4pt;border-top:none;border-left:none;
  border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black">6<o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.4pt;border-top:none;border-left:none;
  border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black">7<o:p></o:p></span></b></p>
  </td>
  <td width="66" valign="top" style="width:49.45pt;border-top:none;border-left:
  none;border-bottom:solid windowtext .5pt;border-right:solid windowtext .5pt;
  mso-border-top-alt:solid windowtext .5pt;mso-border-left-alt:solid windowtext .5pt;
  padding:0cm 3.5pt 0cm 3.5pt">
  <p class="MsoNormal" style="text-align:justify;mso-pagination:none"><b><span style="mso-bidi-font-size:9.0pt;mso-bidi-font-family:Arial;color:black">8<o:p></o:p></span></b></p>
  </td>
 </tr>
</tbody></table>
